<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${windir}\Temp\BV-SEO-SDK-DOTNET-LOGFILE.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="2MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <logger name="BVSeoSdkDotNet">
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
  </log4net>
</configuration>